#content{
	background-color: #F2F2F2;
}
#heading{
	text-align: center;
	background-color: #222222;
	color: white;
}
.info1{
	margin-top: 16%;
}
.articleimg3{
	margin-top: 19%
}
#foot{
	background-color: #222222;
	color: white;
	margin-top: 5%;
}